.Sidebar {
  width: 200px;
  height: 100vh;
  position: sticky;
  top: 0;
  display: inline-block;
  background: rgb(34,195,161);
  background: linear-gradient(190deg, rgba(34,195,161,1) 0%, rgba(93,45,253,1) 100%);
}

.Sidebar .Sidebar-tab {
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  opacity: 0.8;
  margin: 0.75rem 1rem;
  text-decoration: none;
  color: #000000;
}

.material-icons-outlined {
  padding: 0 0.5rem;
}
