.Test {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: -webkit-fill-available;
}

.Test-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Test-logo {
    animation: Test-logo-spin infinite 20s linear;
  }
}

.Test-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Test-link {
  color: #61dafb;
}

@keyframes Test-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
