.UserManagement {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: -webkit-fill-available;
}

.UserManagement-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
}

a:hover {
  color: #ddd;
}

tbody {
  font-size: calc(6px + 2vmin);
}
